/* Yleiset tyylit */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Navigaatiopalkki */
.navbar {
    margin-bottom: 0; 
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
    background-color: rgba(58, 77, 40, 0.8); 
}

/* Sisältö */
.content {
    display: flex; /* Muuta sisältöflexiksi */
    padding-top: 60px; /* Anna tilaa navigaatiopalkille */
}

/* Ylätunnisteen taustaväri ja keskitä teksti */
.custom-header {
    background-color: #5a7448; /* Vihreä taustaväri */
    color: white; /* Tekstin väri */
    text-align: center; /* Keskittää tekstin */
    padding: 60px 0; /* Lisää tilaa ylhäältä ja alhaalta */
    display: flex; /* Muutetaan flexboxiksi */
    justify-content: center; /* Keskitetään vaakasuunnassa */
    align-items: center; /* Keskitetään pystysuunnassa */
    height: 100vh; /* Varmistetaan, että se vie koko korkeuden */
}

.header-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* Hakupalkki ja Most Searched */
/* Poista d-flex hakupalkin tyyleistä, ei enää tarvita */
#search {
    margin-left: 20px; /* Lisätään tilaa vasemmalta */
    padding: 20px; /* Lisää sisäistä täytettä */
    background-color: #f8f9fa; /* Vaaleampi taustaväri */
    border: 1px solid #ddd; /* Reuna hakupalkille */
    border-radius: 8px; /* Kulmien pyöristys */
}


/* Most Searched */
#topSearches {
    margin-bottom: 30px; /* Lisää tilaa alareunaan */
    margin-right: 20px; /* Lisää tilaa oikealta */
    background-color: #f8f9fa; /* Vaaleampi taustaväri */
    border: 1px solid #ddd; /* Reuna */
    border-radius: 8px; /* Kulmien pyöristys */
}

/* Kirja genrejen haitarit */
.accordion-button {
    background-color: #f8f9fa; /* Vaaleampi taustaväri */
}

/* Footer */
footer {
    margin-top: auto; /* Siirtää footerin alareunaan */
    padding: 15px; /* Tarpeen mukaan */
    background-color: #5a7448; /* Muuta tarpeen mukaan */
    color: white; /* Tekstin väri */
    text-align: center; /* Keskitä teksti */
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Muuta nav-painikkeet pystyiksi pienissä näytöissä */
    }
}

