/* Yleiset tyylit */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif; /* Muuta fontti halutuksi */
    line-height: 1.6; /* Lisää riviväliä */
    padding: 0; /* Poista oletus täytteet */
    display: flex;
    flex-direction: column;
}

/* Navigaatiopalkki */
.navbar {
    margin-bottom: 0; /* Lisää tilaa navigaatiopalkin ja muiden elementtien väliin */
    position: fixed; /*Liikkuu sivun mukana*/
    width: 100%; /*Koko sivun levyinen*/
    z-index: 1000; /*Pysyy muiden elementtien päällä*/
}
.custom-navbar {
    background-color: #3a4d28; 
}
.content {
    padding-top: 60px; /*Jotta sisältö ei jää navigaation alle*/
}

.custom-header {
    display: flex; /* Flexbox käyttöön */
    flex-direction: column; /* Asettaa elementit pystysuunnassa */
    justify-content: center; /* Keskittää pystysuunnassa */
    align-items: center; /* Keskittää vaakasuunnassa */
    height: 300px; /* Suurempi ylätunnisteen korkeus */
    background-color: #5a7448; /* Taustaväri */
    color: white; /* Tekstin väri */
    text-align: center; /* Teksti keskitetty vaakasuunnassa */
}

.custom-header h1 {
    font-size: 3rem; /* Suurempi otsikkoteksti */
    margin: 0;
}

.custom-header p {
    font-size: 1.5rem; /* Suurempi kappaleteksti */
    margin: 0;
}

/* Kortti-elementit */
.card {
    border: 1px solid #ddd; /* Vaalea reunus */
    border-radius: 8px; /* Kulmien pyöristys */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hieman varjoa */
    overflow: hidden; /* Poista yli jäävät elementit */
}

.card-body {
    padding: 15px; /* Sisältöalueen täyte */
}

.btn.btn-primary {
    background-color: #5a7448; /* Taustaväri */
    color: white; /* Tekstin väri */
    border: 2px solid #4a5d38; /* Reunan väri ja paksuus */
}

.btn.btn-primary:hover {
    background-color: #4a5d38; /* Väri hover-tilassa */
    border: 2px solid #3a4d28; /* Muuta reunaväriä hover-tilassa */
}

/* Fakeimg tyyli */
.fakeimg {
    height: 200px; /* Kuvan korkeus */
    background: #aaa; /* Harmaa tausta */
    border-radius: 4px; /* Kulmien pyöristys */
}

#topsearch, #search {
    margin-bottom: 30px; /* Lisää tilaa alareunaan */
}

footer {
    margin-top: auto; /* Siirtää footerin alareunaan */
    padding: 15px; /* Tarpeen mukaan */
    background-color: #5a7448; /* Muuta tarpeen mukaan */
    color: white; /* Tekstin väri */
    text-align: center; /* Keskitä teksti */
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Muuta nav-painikkeet pystyiksi pienissä näytöissä */
    }

    .col-sm-4, .col-sm-8 {
        flex: 0 0 100%; /* Muuta sarakkeet täysleveiksi pienissä näytöissä */
        max-width: 100%; /* Varmista, että leveys on 100% */
    }
}
