/* Yleiset tyylit */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Navigaatiopalkki */
.navbar {
    margin-bottom: 0; 
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
    background-color:  rgba(44, 58, 59, 0.8);
}

/* Sisältö */
.content {
    display: flex; /* Muuta sisältöflexiksi */
    padding-top: 60px; /* Anna tilaa navigaatiopalkille */
}

/* Ylätunnisteen taustaväri ja keskitä teksti */
.custom-header {
    background-image: url('book.jpg'); /* Aseta haluamasi kuvan URL */
    background-size: cover; /* Skaalaa kuva niin, että se peittää koko alueen */
    background-position: center; /* Keskittää kuvan */
    background-repeat: no-repeat; /* Estää kuvan toistumisen */
    color: rgb(0, 0, 0); /* Tekstin väri */
    text-align: center; /* Keskittää tekstin */
    padding: 60px 0; /* Lisää tilaa ylhäältä ja alhaalta */
    display: flex; /* Flexboxin käyttö */
    justify-content: center; /* Keskittää vaakasuunnassa */
    align-items: center; /* Keskittää pystysuunnassa */
    height: 100vh; /* Varmistaa, että ylätunniste vie koko korkeuden */
}

.header-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* Hakupalkki */
/* Poista d-flex hakupalkin tyyleistä, ei enää tarvita */
#search {
    margin-left: 20px; /* Lisätään tilaa vasemmalta */
    padding: 20px; /* Lisää sisäistä täytettä */
    background-color: #f8f9fa; /* Vaaleampi taustaväri */
    border: 1px solid #ddd; /* Reuna hakupalkille */
    border-radius: 8px; /* Kulmien pyöristys */
}

/* Muokkaa hakupalkin painikkeen väriä */
#bookSearchForm .btn {
    background-color: rgba(44, 58, 59, 0.8); /* Aseta painikkeen taustaväri (esim. vihreä) */
    color: white; /* Tekstin väri */
    border: none; /* Poistaa reunan */
    padding: 10px 20px; /* Lisää täytettä painikkeelle */
    font-size: 16px; /* Aseta fonttikoko */
    border-radius: 5px; /* Pyöristä painikkeen kulmat */
}

/* Hover-efekti painikkeelle */
#bookSearchForm .btn:hover {
    background-color:  rgba(44, 58, 59, 0.8); /* Muuta taustaväriä hover-tilassa (esim. tummempi vihreä) */
    color: white; /* Tekstin väri hover-tilassa */
}


/* Kirja genrejen haitarit */
.accordion-button {
    background-color: #f8f9fa; /* Vaaleampi taustaväri */
    color: #343a40; /* Tekstin väri painikkeille */
    border: 1px solid #ddd; /* Reuna painikkeille */
}

/* Painikkeen ollessa aktiivinen */
.accordion-button:not(.collapsed) {
    background-color:  rgba(44, 58, 59, 0.8); /* Vihreä väri aktiiviselle painikkeelle */
    color: white; /* Tekstin väri aktiivisessa tilassa */
}

/* Footer */
footer {
    margin-top: auto; /* Siirtää footerin alareunaan */
    padding: 15px; /* Tarpeen mukaan */
    background-color:  rgba(44, 58, 59, 0.8);  /* Muuta tarpeen mukaan */
    color: white; /* Tekstin väri */
    text-align: center; /* Keskitä teksti */
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Muuta nav-painikkeet pystyiksi pienissä näytöissä */
    }
}